div.come-through-workspace-leaf-content[data-type='come-through-view-defined-content'] {

	.markdown-reading-view {

		details {
			margin-block-start: var(--p-spacing);
		}

		summary {
			cursor: pointer;
			color: var(--h3-color);
			font: var(--h3-font);
			line-height: var(--h3-line-height);
			font-size: var(--h3-size);
			font-style: var(--h3-style);
			font-variant: var(--h3-variant);
			font-weight: var(--h3-weight);
		}
	}
}
