

div.come-through-workspace-leaf-content .view-content {
	padding: 0;
	overflow: hidden;
}

/* <div class="markdown-reading-view" style="width: 100%; height: 100%;"> */
div.come-through-workspace-leaf-content .markdown-reading-view {
	width: 100%;
	height: 100%;
}

div.come-through-workspace-leaf-content :lang(th) {
  font-size: 1.25rem;
}
